*{
    padding: 0;
    box-sizing: 0;
}
body{
    color:rgb(255, 251, 251);
}
.container {
    height: 500px;
    width: 500px;
    text-align: center;
    background: red;
    margin: 10% auto;
    padding: 40px;
}
.container p{
    text-align: justify;
}
.lista{
text-align: justify;
}
