*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;/* El tamaño que ocupa letra y su espacio*/
}
/*Propiedades de texto*/

.cajas{
    width: 250px;
    height: 300px;
    background:black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    
}

.cajas h2{
    color: rgb(188, 194, 194);
    text-align: center;
    margin-bottom: 20px;
    
}

.cajas ul,li{
    color: rgb(188, 194, 194);
 
    font-size: 23px;
    text-align: center;
    margin-bottom: 30px;
    list-style-type:none ;
}
.cajas p{
   color: aquamarine;
}

