*{  
    margin: 0;
    padding: 0;
    box-sizing:0;
}
body{
    color: aliceblue;
}
.container {
    width: 500px;
    height: 300px;
    text-align: center;
    background: rgb(119, 0, 255);
    margin: 10% auto;
    padding: 40px;
}
.container p{
    text-align: justify;
    margin-top: 40px;
}
